
data/*
prepared/*
models/*
graphs/*
users/*
testspace/venv2/Scripts/*
.vscode/settings.json
__pycache__/*
__pycache__/config.cpython-36.pyc
log-ru.txt
tensorflow-1.12.0-cp36-cp36m-win_amd64.whl
testspace/venv2/__pycache__/*
Scripts/*
задача.txt
logs/*
